html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 60% 5%;
    grid-template-areas: 
    "hd" 
    "sd" 
    "main" 
    "ft";
    height: 100%;
}

.nestedGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-gap: 5px;
    padding: 10px;
    height: 90%;
    box-sizing: border-box;
}